
.navbar-todo {
    /*background-color: #333;*/
    overflow: hidden;
}

.navbar-todo a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-todo a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-todo a.logout {
    background-color: #f44336;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    float: right;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    margin-top: auto;
}

/*width: 100%;*/
/*height: 30px;*/
/*display: flex;*/
/*justify-content: space-around;*/
/*align-items: center;*/
/*color: white;*/
/*background-color: #044aa0;*/
